<footer class="page-footer font-small bg pt-4 mt-3">

    <div class="container">
        <div class="row mt-3">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Nós siga nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network p-0 m-0">
                  
                    <li>
                        <a href="https://github.com/bustos00" target="_blank" class="icoGithub">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.instagram.com/bsotie" target="_blank" class="Insta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://twitter.com/@Soti40538501" target="_blank" class="Twitter">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                    
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg text-center pb-3">
        <span class="text-light">@ 2022 Copyright: Sotie Ghislain </span>
        <img
      class="rounded-circle ml-2"
      src="https://github.com/bustos00.png" alt="Foto do criador da página" width="40px" height="40px"/>
    </div>

</footer>
