#img-bg{
    background-image: url('../../assets/imgs/pexels-johannes-plenio-4124074.jpg');

    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}