#img-bg{
    background-image: url('https://cryptobank.ventures/img/en/crypto2.gif');

    min-height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}